:host ::ng-deep .fleetops-calendar .fc-col-header-cell-cushion {
  color: #000000 !important;
  font-weight: 700;
}

:host ::ng-deep .fleetops-calendar .fc-col-header-cell {
  background-color: #ffffff !important;
}